<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email  Valid</title>
</head>
<body>
    


    <button type="submit"><a href="{% static 'register_user.html' %}"> Register </a></button>
    <button type="submit"><a href="{% static 'login_user.html' %}"> Login  </a></button>
    <button type="submit"><a href="{% static 'logout_user.html' %}"> Logout </a></button>




    {% block content %}

    {% endblock %}
</body>
</html>