<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'email/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    {% block content %}
    <h1>Login User</h1>
    <form method="post">
        {% csrf_token %}
        <h1>Email :  {{ form.email }}</h1>
        <h1>Password : {{ form.password1 }}</h1>
        <button type="submit"> Submit </button>
    </form>
    {% endblock %}
    
</body>
</html>